.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    &__label{
        margin-bottom: 5px;
    }
    &__input{
        padding: 1rem .5rem;
        border: 1px solid black;
        outline: none;
        &--error{
            border: 2px solid red;
        }
    }
    &__alert{
        color: red;
    }
}